<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974860535646-b0a3m3q99jks7vnkooljnir4mqcs9aam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974860535646-b0a3m3q99jks7vnkooljnir4mqcs9aam</string>
	<key>API_KEY</key>
	<string>AIzaSyCAl7zSM60Sx8s5cyOpz1aTzmuYdaCuC7U</string>
	<key>GCM_SENDER_ID</key>
	<string>974860535646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creativeinterlace.SyncingSyllabi</string>
	<key>PROJECT_ID</key>
	<string>syncing-syllabi-802a9</string>
	<key>STORAGE_BUCKET</key>
	<string>syncing-syllabi-802a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974860535646:ios:87cdd755b92b5130ce31cf</string>
</dict>
</plist>